body {
  padding-top: 136px; /* Adjusted to accommodate the new header */
  color: #333;
}
.jumbotron {
  background-color: #e9ecef;
}
.medical-info {
  margin-bottom: 20px;
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #59ca26;
}
.bg-dark {
  background-color: #0d5fbd !important;
}
.btn-primary,
.btn-success {
  background-color: #59ca26;
  border-color: #59ca26;
  color: white;
}
.btn-primary:hover,
.btn-success:hover {
  background-color: #4caf50;
  border-color: #4caf50;
}
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-title {
  color: #0d5fbd; /* Blue for card titles */
}
.list-group-item {
  background-color: white;
}

/* New Header Styles */
nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0d5fbd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav.navbar .logo img {
  height: 80px;
  width: 110px;
}
nav.navbar .nav-links {
  list-style: none;
  display: flex;
}
nav.navbar .nav-links li {
  margin-left: 20px;
}
nav.navbar .nav-links a {
  color: white;
  text-decoration: none;
}
nav.navbar .logout-btn {
  background-color: #59ca26;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: #f8f9fa;
  padding: 40px 0;
  margin-top: 40px;
}
.footer-title {
  font-weight: bold;
  margin-bottom: 15px;
  color: #0d5fbd;
}
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact-item i {
  margin-right: 10px;
}
.social-icons a {
  margin-right: 10px;
  color: #0d5fbd;
}
